.content {
    width: 100%;
}

.overview {
    font-size: 1.5rem;
    margin: 20px 0 40px 0;
}

.overview-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.overviewCard {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3FF;
    color: #6C67F1;
    font-weight: 300;
    border-radius: 20px;
    margin: 10px 0;
}

.overviewCardIcon {
    font-size: 1.5rem;
    margin-right: 8px;
}

.overviewIcon {
    width: 24px;
    margin-right: 8px;
}

.overviewCardTitle {
    
}

.overviewCardP {
    font-size: .8rem;
}

.overviewCardContent {
    width: 50%;
    display: flex;
    align-items: top;
    justify-content: flex-start;
}

.content {
    width: 90%;
}

.propertyContainer {
    background-color: #FAFAFA;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

.ul {

}

.li {
    margin: 40px 0;
}

.imageContainer {
    height: 200px
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.propertyContent {
    padding: 15px;
}

.address {
    font-size: .8rem;
}

.homeType {
    color: #aaa;
    font-size: .8rem;
}