.hidden {
    display: none;
}

.desktopNavbar {
    display: none;
}

.navbar {
    width: 100%;
    align-items: flex-start;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.20);
    margin-bottom: 25px;
    border-radius: 0 0 10px 10px;
}

.navbarMenu {
    padding-top: 20px;
}

.logo {
    margin: 0;
}

.addPropertyBtn {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #6C67F1;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

.plusIcon {
    margin-right: 3px;
}

.mobileNavLink {
    color: #6C67F1;
    font-size: 1rem;
    margin: 5px 0;
}

.navLinkIcon {
    margin-right: 5px;
}

.logoutBtn {
    border: 1px solid #6C67F1;
    border-radius: 5px;
    background: none;
    color: #FF0000;
    font-size: 1rem;
    margin-top: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

.logoutIcon {
    height: 20px;
}

.confirmLogoutBtn {
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    font-size: 1rem;
    margin-top: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

.confirmLogoutIcon path {
    stroke: #fff;
}

@media screen and (min-width: 640px) {
    .navbar {
        display: none;
    }

    .desktopNavbar {
        display: initial;
        height: 75vh;
        position: sticky;
        top: 15px;
        width: 30%;
        max-width: 200px;
    }

    .navbarMenu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #6C67F1;
        border-radius: 15px;
        margin-top: 20px;
    }

    .desktopNavLink {
        margin-bottom: 8px;
    }

    .addPropertyBtn {
        display: none;
    }

    .addPropertyBtnLinks {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logoutBtnWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    
    .confirmLogoutBtn {
        width: 85%;
    }
    
    .navLinks {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .logoutBtn {
        font-size: .8rem;
        background-color: #fff;
        width: 85%;
        height: 25px;
    }
    
    .logoutIcon {
        width: 15px;
    }

    .confirmLogoutBtn {
        font-size: .8rem;
    }

    .desktopNavLink {
        color: #fff;
        margin-bottom: 10px;
        font-size: .9rem;
    }

    .desktopNavbar {
        /* height: 75vh; */
    }

}

@media screen and (min-width: 1000px) {
    
    .desktopNavbar {
        height: 75vh;
    }

    .desktopNavLink {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }
}
