.hidden {
    display: none;
}

.navbarWidth {
    padding: 0;
}

.logo {
    margin: 0;
}

.addPropertyBtn {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #6C67F1;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 5px;
}

.plusIcon {
    margin-right: 3px;
}

.mobileNavLink {
    color: #6C67F1;
    font-size: 1rem;
    margin: 5px 0;
}

.logoutBtn {
    border: 1px solid #6C67F1;
    border-radius: 5px;
    background: none;
    color: #FF0000;
    font-size: 1rem;
    margin-top: 5px;
}

.logoutIcon {
    height: 20px;
}

.confirmLogoutBtn {
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    font-size: 1rem;
    margin-top: 5px;
}

.confirmLogoutIcon path {
    stroke: #fff;
}

