.hidden {
    display: none;
}

/* .modalContent {
    height: 75vh
} */


.modalHeader {
    padding: 15px 0;
}

.modalBody {
    padding: 0;
}

.modalContentContainer {
    display: flex;
    justify-content: center;
}

.modalContentWrapper {
    width: 90%;
}

.editDeleteContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
}

.editButton {
    font-size: 1.3rem;
    color: #6C67F1;
    margin-right: 20px;
}

.editButton:hover {
    cursor: pointer;
    color: #6b67f1c2;
}

.deleteButton {
    font-size: 1.3rem;
    color: #ff0000;
    padding: 0;
    justify-content: flex-end;
}

.deleteButton:hover {
    cursor: pointer;
    color: #ff00009c;
}

.confirmEditWrapper, .confirmDeleteWrapper {
    display: flex;
    align-items: center;
}

.confirmEditButton {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #6C67F1;
    border-radius: 5px;
    color: #fff;
    font-size: .8rem;
    margin-left: 10px;
}

.confirmEditButton:hover {
    cursor: pointer;
    background-color: rgba(107, 103, 241, 0.911);
    border-radius: 5px;
}

.confirmDeleteButton {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #ff0000;
    border-radius: 5px;
    color: #fff;
    font-size: .8rem;
    margin-left: 10px;
}

.confirmDeleteButton:hover {
    background-color: #ff0000e0;
}

.modalImageContainer {
    height: 175px;
}

.modalImage {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    /* box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    margin-bottom: 25px; */
}

.propertyDetails {
    padding: 15px;
}

.addressAndStatusWrapper {
    display: flex;
    justify-content: space-between;
}

.address {
    font-size: .9rem;
}

.homeType, .rentAmount, .mortgageAmount, .profitAmount {
    color: #aaa;
    font-size: .8rem;
}

.detailsTitle {
    font-size: .9rem;
}

.rentMortgageProfitWrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.renterDetailsContainer {
    margin-top: 15px;
}

.renterDetailsTitle {
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: center;
}

.renterDetails {
    margin-bottom: 15px;
}

.neutralRentStatus {
    font-size: .8rem;
    background-color: #e9e9e9;
    color: #aaaaaa;
    width: 70px;
    text-align: center;
    border-radius: 3px;
}

.pastDueRentStatus {
    font-size: .8rem;
    background-color: #FED5D5;
    color: #FF0000;
    width: 70px;
    text-align: center;
    border-radius: 3px;
}

.currentRentStatus {
    font-size: .8rem;
    background-color: #E9FFDB;
    color: #51B613;
    width: 70px;
    text-align: center;
    border-radius: 3px;
}
